<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Controle de Contatos</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
	<div class="container">
    <%- include('../partials/navbar'); %>
    <h3>Contatos cadastrados</h3> <br>
    <a href="/contatos/novo" class="btn btn-primary">Novo</a>
    <table class="table table-striped">
      <thead> 
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Nascimento</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% contatos.forEach(function(contato){ %>
          <tr>
              <td><%=contato.id%></td>
              <td><%=contato.nome%></td>
              <td><%=contato.email%></td>
              <td><%=formataData(contato.nascimento, "BR")%></td>
              <td><%=contato.categoria.descricao%></td>
              <td><a href="/contatos/editar/<%=contato.id%>" class="fas fa-edit" style="color: black"
                      ata-toggle="tooltip" title="Editar contato."></a> <a href="/contatos/excluir/<%=contato.id%>" class="fas fa-trash" style="color: black"
                        ata-toggle="tooltip" title="Excluir contato."
                        onclick="return confirm('Confirma a exclusão?')"></a></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
	</div>

	<%- include('../partials/footer'); %>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>