<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Controle de Contatos</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
	<div class="container">
    <%- include('../partials/navbar'); %>
    <div class="card">
     <div class="card-body">
       <h3 class="card-title">Edição de Contatos</h3>
       <form action="/contatos/atualizar" method="POST" >
        <div class="form-group">
          <label for="nome">Nome</label>
          <input id="nome" type="text" name="nome" class="form-control" value="<%=contato.nome%>" placeholder="Informe o nome do contato." required>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input id="email" type="email" name="email" class="form-control" value="<%=contato.email%>" placeholder="Informe o e-mail do contato." required>
        </div>
        <div class="form-group">
          <label for="nascimento">Nascimento</label>
          <input id="nascimento" type="date" name="nascimento" class="form-control" value="<%=contato.nascimento%>">
        </div>
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <select id="categoria" name="categoria" class="form-control"> </select>
        </div>
          <input type="hidden" name="id"  value="<%=contato.id%>">
          <input class="btn btn-primary" type="submit" value="Atualizar">
          <a href="/contatos" class="btn btn-warning"> Lista de contatos</a>
      </form>
     </div> 
    </div>
	</div>

	<%- include('../partials/footer'); %>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>