<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Controle de Contatos</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
	<div class="container">
    <%- include('../partials/navbar'); %>
    <div class="card">
     <div class="card-body">
       <h3 class="card-title">Edição de Categorias</h3>
       <form action="/categorias/atualizar" method="POST" >
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input id="descricao" type="text" name="descricao" value="<%=categoria.descricao%>" class="form-control" placeholder="Informe o nome da categoria." required>
          </div>
          <input type="hidden" name="id"  value="<%=categoria.id%>">
          <input class="btn btn-primary" type="submit" value="Atualizar">
          <a href="/categorias" class="btn btn-warning"> Lista de categorias</a>
      </form>
     </div> 
    </div>
    <% if(mensagens.length > 0){ %>
      <% mensagens.forEach(function(mensagem){ %>
      <div class="alert alert-info">
        <strong>Aviso!</strong> <%= mensagem %>
      </div>
      <% }); %>
      <% } %>
	</div>

	<%- include('partials/footer'); %>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>